/* -------- Fontes importadas --------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

/* RESET do Estilo*/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto Slab', 'Century Gothic', sans-serif;
}

body { overflow-x: hidden; } /* Internet Explorer e Edge - Problema com h1 no centro do  heading */

img, video { width: 100%; }

/* Cabeçalho */

header {
  width: 100%;
  height: 100vh;
}

/* Barra de navegação */
header nav {
  float: left;
  width: 100%;
  z-index: 98;
  opacity: 0.9;
  position: fixed;
  padding: 0 7% 0 7%;
  background-image: linear-gradient(to right, #141E30, #243B55);
}

nav .logo{
  float: left;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}

nav .logo:hover {
  transform: rotate(180deg);
}

nav ul.menu {
  float: right;
  list-style: none;
}

/* --------------------------
  | Barra de navegação |
    |-- Menu
   -------------------------- */
nav ul.menu li{
  height: 100%;
  padding: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

nav ul.menu li:hover {
  background-color: #3e4d5e;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

nav ul li a {
  color: #fff;
}

/* --------------------------
  | Barra de navegação |
    |-- Menu
       |-- Menu Dropdown
   -------------------------- */

nav ul.menu li.menu-dropdown ul{
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  background-color: #243B55;
  position: absolute;
  top: 57.2px;
  right: 0;
}
nav ul.menu li.menu-dropdown ul li {
  text-align: center;
  padding: 20px;
  width: 150px;
}
/* Efeito hover nos itens do menu*/
nav ul.menu li.menu-dropdown:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
}
/* ---------- Fim menu Dropdown ---------- */

/* ----- Hero image dentro do header ----- */
.hero-image-header {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.85;
  background: url('../img/estrada.jpg') no-repeat center/ cover;
  background-attachment: fixed;
}

.heading-container {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 46%;
}

.heading-container h1 {
  color: #FFF;
  width: 71.05vw;
  font-size: 6em;
  text-align: center;
  line-height: 100px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.heading-container h2 {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

/* ------------ Main Section -------------- */

main {
  float: left;
  width: 100%;
  padding: 80px 7% 80px 7%;
}

main div.item-column {
  float: left;
  padding: 0 14px 0 14px;
  width: 33.33333333333333%;
}

/* Itens Brasil, Estrada, Viajem */
.item-column .item { width: 100%; height: 190px; }
.item-column h3 { text-align: center; margin-top: 15px; font-size: 1.5em; color: #263238; font-family: 'Amatic SC', cursive;}
.item-column p { text-align: justify; margin-top: 15px; font-size: 0.9em; line-height: 1.6em; color: #37474F;}

/* -------- Imagens Itens -----------*/

.brasil { background: url("../img/brazil.png") no-repeat center center/ 190px}
.estrada { background: url("../img/road.png") no-repeat center center/ 190px}
.viajem { background: url("../img/travel.png") no-repeat center center/ 190px}

/* ------------- Footer -------------*/

footer {
  float: left;
  width: 100%;
  background: url("../img/long-road.jpg") no-repeat fixed center center/cover;
  font-family: 'Open Sans', sans-serif;
}

footer .section {
  float: left;
  width: 33.33333333333333%;
}

.section ul {
  list-style: none;
  text-align: center;
  padding-top: 50px;
  line-height: 2em;
}

.section ul li a {
  color: white;
  font-size: 0.9em;
}

.section ul li:first-child a {
  font-size: 1.5em;
  font-weight: 900;
  color: #bdc3c7;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

footer div.copyright {
  clear: left;
  width: 100%;
  text-align: center;
  padding: 40px 0px 40px 0px;
}

footer div.copyright p {
  font-size: 0.8em;
  color: #fff;
}
